.carousel-container {
  width: 50rem;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}

.carousel {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background: #0000001a;
  border: none;
  overflow: hidden;
}

.slide {
  min-width: 100%;
  min-height: 100%;
  transition: 0.5s;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slide__title-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.slide__title {
  width: 100%;
  background-color: #ccc0c0d2;
  padding: 1rem 0;
  text-align: center;
  position: absolute;
  top: 50%;
  margin: 0 auto;
  font-size: 1.5rem;
}

.slide__image {
  width: 100%;
  height: auto;
}

.details-btn {
  position: absolute;
  bottom: 0.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#arrow-left,
#arrow-right {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  background: none;
  border: none;
  outline: none;
  transition: 0.5s;
  color: #838383;
  font-size: 40px;
}
#arrow-left {
  left: 0;
}
#arrow-right {
  right: 0;
}
#arrow-left:hover,
#arrow-right:hover {
  cursor: pointer;
  color: #11abb0;
}

@media (max-width: 768px) {
  .carousel-container {
    width: 90vw;
    margin-bottom: 10rem;
  }
  #arrow-left,
  #arrow-right {
    top: 65%;
  }
}
